/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./img/cupcake.svg');
    background-repeat: repeat;
    background-size: 150px 120px;
}

.recipe img {
    width: 400px;
    height: 400px;
}

/* index */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 15px;
    background-color: burlywood;
    margin: 0;
}

.container {
    width: 410px;
    margin: 0 auto;
}

.recipe {
    margin: 50px 0;
    border: solid 5px black;
}

.recipe a {
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;

}

.recipe img {
    display: block;
    margin: 0;
}

.recipe p {
    margin: 0;

}



/*----------- RECIPES -----------*/

/* deafult - red */

.recipe-hero-img {
    display: block;
    width: 100%;
    height: auto;
}

#back-btn {
    display: block;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0;
}

.sub-title {
    background-color: burlywood;
    margin: 0;
    color: black;
    padding: 10px;
    font-size: 12px;
}

h2 {
    background-color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.content {
    background-color: rgb(161, 79, 79);
    color: white;
    padding: 10px;
}

.section p {
    margin: 0;
}


.prep-time {
    background-color: rgb(113, 55, 55);
    color: white;
    padding: 10px;
}

.cook-time {
    background-color: rgb(86, 39, 39);
    color: white;
    padding: 10px;
}

.servings {
    background-color: rgb(43, 11, 11);
    color: white;
    padding: 10px;
}

h3 {
    background-color: rgba(43, 11, 11, 0.7);
    color: white;
    padding: 10px;
    margin: 0;
}

ul,
ol {
    background-color: rgba(113, 55, 55, 0.6);
    color: white;
    margin: 0;
}

li {
    padding: 10px 0;
}

/* green */

.content-green {
    background-color: rgb(79, 161, 94);
    color: white;
    padding: 10px;
}

.section-green p {
    margin: 0;
}


.prep-time-green {
    background-color: rgb(55, 113, 72);
    color: white;
    padding: 10px;
}

.servings-green {
    background-color: rgb(39, 86, 68);
    color: white;
    padding: 10px;
}

.list-green {
    background-color: rgba(55, 113, 72, 0.6);
}

/* nature */

.content-nature {
    background-color: #b2c057;
    color: white;
    padding: 10px;
}

.section-nature p {
    margin: 0;
}

.prep-time-nature {
    background-color: #89744f;
    color: white;
    padding: 10px;
}

.cook-time-nature {
    background-color: #785733;
    color: white;
    padding: 10px;
}

.servings-nature {
    background-color: #444b1d;
    color: white;
    padding: 10px;
}

.list-nature {
    background-color: rgba(10, 59, 14, 0.545);
}

.h3-nature {
    background-color: rgba(68, 75, 29, 0.7);
    color: white;
    padding: 10px;
    margin: 0;
}

/* dark green: #444b1d */
/* dark brown #785733 */
/* light green: #b2c057 */
/* light brown #89744f */