/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    font-family: 'Courier New', Courier, monospace;
      background-image: url('./img/cupcake.svg');
      background-repeat: repeat;
      background-size: 150px 120px;
}

img {
    width: 400px;
    height: 400px;
}

/* index */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 15px;
    background-color: burlywood;
    margin: 0;
}

.container{
    width: 410px;
    margin: 0 auto;
}

.recipe {
    margin: 50px 0;
    border: solid 5px black;
}

.recipe a{
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;

}

.recipe img{
    display: block;
    margin: 0;
}

.recipe p{
    margin: 0;

}



/* recipes */